@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: #fff9ea;
}

section{    
    padding: 28px 8%;
}

html {
    scroll-behavior: smooth;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;  
  justify-content: center;
  background-color: #ffcb45;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  background-color: #f8d477;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.2);
}